@layer tailwind-base, primereact, tailwind-utilities;
@import "primereact/resources/themes/lara-light-purple/theme.css";

@layer tailwind-base {
  @import "tailwindcss";
}

@layer tailwind-utilities {
  @tailwind utilities;
}

:root {
  --border-color: var(--color-slate-300);
  --text-color: var(--color-slate-950);
  --help-text-color: var(--color-slate-600);
  --error-text-color: var(--color-red-600);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.error-text {
  color: var(--error-text-color);
}

form.cont-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cont-form .cont-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cont-form .p-icon-field .p-inputtext {
  width: 100%;
}

.cont-form .p-input-icon::before {
  cursor: pointer;
}

.title {
  color: var(--text-color);
  font-weight: bold;
  font-size: 2.25rem;
}
